<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" charset="utf-8"/>
        <title>Index Page</title>
    </head>
    <body>
        <p> Hello world! </p>
        <hr/>
        <a asp-controller="Employees" asp-action="Index">Управление сотрудниками</a>
    </body>
</html>

